.req {
  min-height: calc(100vh);
  background-color: rgb(239 177 27);
  position: absolute;
  left: 0;
  top:0;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  color: rgba(41, 41, 41, 0.842);
  width: 100%;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 40px;
}

.backbtn button {
  background-color: rgba(41, 41, 41, 0.842);
  color: #ffff;
  padding: 11px 20px;
  text-transform: uppercase;
  font-weight:  bold;
  border: none;
  border-radius: 12px;
  position: fixed;
  margin-top: 20px;
  margin-left: 20px;
  cursor:pointer;
  transition: .5s;
  left: 20px;
  top: 20px;
}
.backbtn button:hover {
  background-color: rgb(41, 41, 41);
  transform: scale(1.2);
}
.reqs {
  min-width: 50%;
  max-width: 50%;
  min-height: 190px;
  background-color: white;
  margin-top: 50px;
  border-radius: 22px;
  padding: 20px;
}

.loadingIndicator {
    min-height: calc(100vh);
  background-color: rgb(239 177 27);
  position: absolute;
  left: 0;
  top:0;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-data {
  display:flex;
  align-items: center;
}
.profile-data img {
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  min-height: 50px;
  border-radius: 50%;
  border: 2px blue solid;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.friend-card {
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend-card button {
  padding: 11px 20px;
  margin:0 20px;
  border-radius: 5px;
}

.accept-btn {
  background-color: rgb(2, 175, 255);
  color: #ffff;
  font-weight: bold;
  border: black solid 2px;
  cursor: pointer;
}
.reject-btn {
  background-color: rgb(245, 43, 43);
  cursor: pointer;
  color: #ffff;
  font-weight: bold;
  border: black solid 2px;
}

@media screen and (max-width:876px) {
  .friend-card button {
    margin-top:20px;
  }

  .friend-card {
        max-width: 100%;
    display: block;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex
;
    flex-direction: column;
  }

  .actions {
    display: flex
;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: -27px;
  }

  .reqs {
        min-width: 70%;
    max-width: 70%;
    min-height: 197px;
    background-color: white;
    margin-top: 50px;
    border-radius: 22px;
    padding: 20px;
  }
}